/* Body Styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color:hsl(229, 6%, 66%);
}
h1{
    font-size: 1.5em;
}
h2{
    font-size: 1.5em;
    padding-left:2.5%;
    font-weight: 400;
}

.mainContainer{
    box-sizing: border-box;
    box-shadow: 20px 20px 20px 20px lightgrey;
    margin:100px 50px;
    background-color: hsl(0, 0%, 98%);
}

.Opaque{
    opacity: 0.4;
}
.font-size{
    font-size: 15px;
    height:75%
}

/* !header display property */
.Header{
    display: flex;
    justify-content: center;
}

.HeadingStyle{
    font-family: 'Poppins', sans-serif;
}

#firstParagraph{
    display:flex;
    justify-content: center;
}
#firstParagraphDisplay{
    text-align: center;
    width: 560px;
}

.Cards{
    padding: 5% 10%;
    padding-top: 0.5%;
    display:flex;
    justify-content: center;
    align-items: center;
} 

.cardContentPadding{
    padding-left: 5px;
}

.cardStyle{
    margin-right: 2%;
    height:20%;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 5px;
    border-top: 5px solid;
}


.cardLeft{
    padding:2%;
    border-color:hsl(180, 62%, 55%) ;
    width:90%;
    height:250px
}

.cardRight{
    padding:2%;
    border-color: hsl(212, 86%, 64%) ;
    width:90%;
    height:250px;
}

.cardTop{
    width:90%;
    padding:2%;
    border-color: hsl(0, 78%, 62%);
    margin:5% 0;
    height:250px;
}
.cardBottom{
    width:90%;
    padding:2%;
    border-color: hsl(34, 97%, 64%);
    height:250px;
}

.img{
    margin-left: 70%;
    margin-top:35%;
}


.insideCardContent{
    box-sizing: border-box;
    height:5%;
    padding-left: 7%;
    padding-right: 10%;
}
.container1{
    flex:1
}
.container2{
    flex:1;
}
.container3{
    flex:1
}

@media(max-width:1100px){
    .img{
        margin-left: 65%;
        margin-top:35%;  
    }
    .insideCardContent{
        font-size: 0.8em;
    }
    .cardStyle{
        height:220px;
    }
    .font-size{
        height:50%;
        font-size: 14px;
    }
} 

@media(max-width:900px){
    .img{
        margin-left: 75%;
        margin-top:30%;
        height:40px;
    }
    .insideCardContent{
        font-size: 0.6em;
    }
    .cardStyle{
        height:150px;
        width:50%;
    }
    .font-size{
        height:30%;
        font-size: 1em;
    }
    .Cards{
        flex-direction: column;
        flex:1;
        flex-basis: 50%;
        align-items: stretch;
        margin-left:25%
    }
    .cardRight{
        margin-top: 5%;
    }
    h1{
        font-size: 1.25em;
    }
    h2{
        font-size: 1.25em;
    }
    #firstParagraphDisplay{
        font-size: 0.8em;
    }
} 

@media (max-width:650px){
    .img{
        margin-left: 75%;
        margin-top:40%;
        height:2.5rem;
    }
    .insideCardContent{
        font-size: 0.6em;
    }
    .cardStyle{
        height:10em;
        width:60%;
    }
    .font-size{
        height:30%;
        font-size: 1em;
    }
    .Cards{
        flex-direction: column;
        flex:1;
        flex-basis: 50%;
        align-items: stretch;
        margin-left:22.5%;
    }
    .cardRight{
        margin-top: 5%;
    }
    h1{
        font-size: 1em;
    }
    h2{
        font-size: 1em;
    }
    .Header{
        justify-content: center;
    }
    #firstParagraphDisplay{
        font-size: 0.7em;
    }
}

@media (max-width:500px){
    .img{
        margin-left: 75%;
        margin-right:5%;
        margin-top:40%;
        height:3em;
    }
    .insideCardContent{
        font-size: 0.6em;
    }
    .cardStyle{
        height:8em;
        width:60%;
    }
    .font-size{
        height:30%;
        font-size: 0.7em;
    }
    .Cards{
        flex-direction: column;
        flex:1;
        flex-basis: 50%;
        align-items: stretch;
        margin-left:22.5%;
    }
    .cardRight{
        margin-top: 5%;
    }
    h1{
        font-size: 0.8em;
    }
    h2{
        font-size: 0.8em;
    }
    .Header{
        justify-content: center;
    }
    #firstParagraphDisplay{
        font-size: 0.55em;
    }
}

@media (max-width:400px){
    .img{
        margin-left: 70%;
        margin-right:5%;
        margin-top:62.5%;
        height:3em;
    }
    .insideCardContent{
        font-size: 0.5em;
    }
    .cardStyle{
        height:8em;
        width:60%;
    }
    .font-size{
        height:30%;
        font-size: 0.8em;
    }
    .Cards{
        flex-direction: column;
        flex:1;
        flex-basis: 50%;
        align-items: stretch;
        margin-left:22.5%;
    }
    .cardRight{
        margin-top: 5%;
    }
    h1{
        font-size: 0.8em;
    }
    h2{
        font-size: 0.8em;
    }
    .Header{
        justify-content: center;
    }
    #firstParagraphDisplay{
        font-size: 0.55em;
    }
}
